In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

In [3]:
# Load the dataset
data = pd.read_csv("emails.csv")  # Replace with the actual path to the dataset
data

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,Email 5168,2,2,2,3,0,0,32,0,0,...,0,0,0,0,0,0,0,0,0,0
5168,Email 5169,35,27,11,2,6,5,151,4,3,...,0,0,0,0,0,0,0,1,0,0
5169,Email 5170,0,0,1,1,0,0,11,0,0,...,0,0,0,0,0,0,0,0,0,1
5170,Email 5171,2,7,1,0,2,1,28,2,0,...,0,0,0,0,0,0,0,1,0,1
5171,Email 5172,22,24,5,1,6,5,148,8,2,...,0,0,0,0,0,0,0,0,0,0

In [13]:
data.shape

(5172, 3002)

In [10]:
data.drop(['Email No.'], axis=1)

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,13,24,6,6,2,102,1,27,18,...,0,0,0,0,0,0,0,1,0,0
2,0,0,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,0,5,22,0,5,1,51,2,10,1,...,0,0,0,0,0,0,0,0,0,0
4,7,6,17,1,5,2,57,0,9,3,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,2,2,2,3,0,0,32,0,0,5,...,0,0,0,0,0,0,0,0,0,0
5168,35,27,11,2,6,5,151,4,3,23,...,0,0,0,0,0,0,0,1,0,0
5169,0,0,1,1,0,0,11,0,0,1,...,0,0,0,0,0,0,0,0,0,1
5170,2,7,1,0,2,1,28,2,0,8,...,0,0,0,0,0,0,0,1,0,1
5171,22,24,5,1,6,5,148,8,2,23,...,0,0,0,0,0,0,0,0,0,0

In [17]:
X = data.drop("Prediction", axis=1)  

print("Features: ",X)

y = data["Prediction"] 

print("Target: ",y)

Features:         Email No.  the  to  ect  and  for  of    a  you  hou  ...  \
0        Email 1    0   0    1    0    0   0    2    0    0  ...
1        Email 2    8  13   24    6    6   2  102    1   27  ...
2        Email 3    0   0    1    0    0   0    8    0    0  ...
3        Email 4    0   5   22    0    5   1   51    2   10  ...
4        Email 5    7   6   17    1    5   2   57    0    9  ...
...          ...  ...  ..  ...  ...  ...  ..  ...  ...  ...  ...
5167  Email 5168    2   2    2    3    0   0   32    0    0  ...
5168  Email 5169   35  27   11    2    6   5  151    4    3  ...
5169  Email 5170    0   0    1    1    0   0   11    0    0  ...
5170  Email 5171    2   7    1    0    2   1   28    2    0  ...
5171  Email 5172   22  24    5    1    6   5  148    8    2  ...

      enhancements  connevey  jay  valued  lay  infrastructure  military  \
0                0         0    0       0    0               0         0
1                0         0    0       0    0               0         0
2                0         0    0       0    0               0         0
3                0         0    0       0    0               0         0
4                0         0    0       0    0               0         0
...            ...       ...  ...     ...  ...             ...       ...
5167             0         0    0       0    0               0         0
5168             0         0    0       0    0               0         0
5169             0         0    0       0    0               0         0
5170             0         0    0       0    0               0         0
5171             0         0    0       0    0               0         0

      allowing  ff  dry
0            0   0    0
1            0   1    0
2            0   0    0
3            0   0    0
4            0   1    0
...        ...  ..  ...
5167         0   0    0
5168         0   1    0
5169         0   0    0
5170         0   1    0
5171         0   0    0

[5172 rows x 3001 columns]
Target:  0       0
1       0
2       0
3       0
4       0
       ..
5167    0
5168    0
5169    1
5170    1
5171    0
Name: Prediction, Length: 5172, dtype: int64

In [18]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.3, random_state=42)

In [20]:
# 5. Model Evaluation
# K-Nearest Neighbors
knn_predictions = knn_model.predict(X_test)
knn_accuracy = accuracy_score(y_test, knn_predictions)
knn_report = classification_report(y_test, knn_predictions)

NotFittedError: This KNeighborsClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [21]:
print(knn_predictions)

NameError: name 'knn_predictions' is not defined

In [22]:
svm_predictions = svm_model.predict(X_test)
svm_accuracy = accuracy_score(y_test, svm_predictions)
svm_report = classification_report(y_test, svm_predictions)

NameError: name 'svm_model' is not defined

In [23]:
print(svm_predictions)

NameError: name 'svm_predictions' is not defined